redirects: on
source https://www.nuget.org/api/v2

nuget MathNet.Numerics ~> 3.7.0
nuget MathNet.Numerics.FSharp
nuget MathNet.Numerics.MKL.Win-x64
nuget Nuget.CommandLine
nuget FSharp.Data ~> 2.2.5
nuget FsPickler ~> 1.3.0
nuget LinqOptimizer.FSharp
nuget Mono.Cecil ~> 0.9.6.1
nuget NUnit
nuget Thespian.Core ~> 0.1.5-alpha
nuget FAKE
nuget FSharp.Formatting prerelease
nuget FSharp.Compiler.Service
nuget NUnit.Runners